* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.primaryBtn {
  background-color: steelblue;
  color: #fff;
  font-weight: 700;
  padding: .5em 1.2em;

  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.primaryBtn:hover {
  background-color: #0b406b;
}

.primaryBtn a {
  color: #fff;
}

.secondaryBtn {
  background-color: #fff;
  color: steelblue;
  font-weight: 700;

  border: 2px solid steelblue;
  border-radius: 5px;
  padding: .5em 1.2em;
  cursor: pointer;
}

.secondaryBtn:hover {
  background-color: steelblue;
  color: #fff;
}

.secondaryBtn a {
  color: steelblue;
}

.secondaryBtn:hover a {
  color: #fff;
}

.warningBtn {
  background-color: #fff;
  color: tomato;
  font-weight: 700;

  border: 2px solid tomato;
  border-radius: 5px;
  padding: .5em 1.2em;
  cursor: pointer;
}

.warningBtn:hover {
  background-color: tomato;
  color: #fff;
}

/* ===== NAVBAR ====== */

.title {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

nav {
  background-color: steelblue;
  height: 60px;
  color: #fff;
  padding: 0 30px;
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
}

nav ul li a:hover {
  color: #0b406b;
}

.cartBadge {
  background-color: white;
  border-radius: 50%;
  color: steelblue;
  text-align: center;
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  margin-left: 10px;
}

/* ===== ITEM LIST ====== */

.itemList {
  padding: 5px 30px;
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.itemContainer {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.itemContainer:hover {
  box-shadow: 5px 5px 10px hsla(207, 44%, 49%, 0.5);
  transform: translateY(-5px);
}

.itemContainer img {
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.itemContainer a {
  color: #0b406b;
}

/* ===== ITEM DETAIL ====== */

.itemDetailContainer {
  padding: 30px;
}

.itemDetail {
  font-size: 1em;
  margin: 25px 0;

  display: grid;
  gap: 1em;
}

/* ====== CART ====== */

.cartContainer {
  background-color: hsla(207, 44%, 49%, 0.5);
  margin: 30px auto;
  padding: 50px;
  width: 80%;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.cartList {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 10px;
}

.cartItem {
  background-color: white;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 10px 15px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItem img {
  max-height: 70px;
  object-fit: contain;
}

.removeItemBtn {
  background-color: tomato;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 0 solid transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  flex-shrink: 0;
  flex-grow: 0;
}

.cartFooter {
  display: grid;
  grid-template-columns: .25fr 1fr 1fr;
  grid-template-rows: 1fr .5fr;
  gap: 20px;
}

.total {
  background-color: white;
  height: 70px;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: span 3;
}

.clearCartBtn {
  background-color: tomato;
}

.checkoutBtn {
  background-color: forestgreen;
}

footer {
  color: gray;
  position: fixed;
  bottom: 0;
  right: 20px;
}