.title {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

nav {
  background-color: steelblue;
  color: #fff;
  padding: 0 30px;
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
}

nav ul li a:hover {
  color: #0b406b;
}

.cartBadge {
  background-color: white;
  border-radius: 50%;
  color: steelblue;
  text-align: center;
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

.itemList {
  padding: 5px 30px;
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.itemContainer {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.itemContainer:hover {
  box-shadow: 5px 5px 10px #ccc;
  transform: translateY(-5px);
}

.itemContainer img {
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  color: gray;
  position: fixed;
  bottom: 0;
  right: 20px;
}

.itemDetailContainer {
  padding: 30px;
}

.goToCart {
  font-size: 1.5em;
  color: white;
  background-color: steelblue;
  padding: 5px 20px;
  border-radius: 5px;
}

.goToCart:hover {
  color: #0b406b;
}

.cartContainer {
  width: 70%;
  margin: auto;
}

.cartContainer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartContainer ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.removeItemBtn {
  background-color: tomato;
  color: white;
  font-weight: 700;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
  border: 0 solid transparent;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.cartFooter {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.roundBtn {
  border-radius: 10px;
  padding: 10px 50px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.clearCartBtn {
  background-color: tomato;
}

.checkoutBtn {
  background-color: steelblue;
}