nav {
  background-color: steelblue;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

nav ul {
  list-style: none;
  margin-right: 30px;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
}