:root {
  --main-bg-color: #000;
  --main-bg-color-t: #0008;
  --secondary-bg-color: #111100;
  --main-color: #fa0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.primaryBtn {
  background-color: var(--main-color);
  color: #000;
  font-weight: 700;
  padding: .5em 1.2em;

  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;;
}

.primaryBtn:hover {
  text-decoration: underline;
}

.primaryBtn a {
  color: #fff;
}

.secondaryBtn {
  background-color: #fff;
  color: steelblue;
  font-weight: 700;

  border: 2px solid steelblue;
  border-radius: 5px;
  padding: .5em 1.2em;
  cursor: pointer;
}

.secondaryBtn:hover {
  background-color: steelblue;
  color: #fff;
}

.secondaryBtn a {
  color: steelblue;
}

.secondaryBtn:hover a {
  color: #fff;
}

.outlineBtn {
  background-color: transparent;
  color: var(--main-color);
  font-weight: 700;
  padding: .5em 1.2em;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  transition: all .3s;
  cursor: pointer;
}

.outlineBtn:hover {
  background-color: var(--main-color);
  color: #000;
}

.warningBtn {
  background-color: transparent;
  color: tomato;
  font-weight: 700;

  border: 2px solid tomato;
  border-radius: 5px;
  padding: .5em 1.2em;
  cursor: pointer;
}

.warningBtn:hover {
  background-color: tomato;
  color: #fff;
}

.error {
  color: #f00;
  font-size: small;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background: #000;
  background-image: url('img/blurry-gradient-haikei.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.loaderContainer {
  background-color: #111100;
  border-radius: 10px;
  aspect-ratio: 1;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  color: var(--main-color);
  font-size: 50px;
  animation: loading 1s linear infinite;
}

/* ===== NAVBAR ====== */

.title {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

nav {
  background-color: var(--main-bg-color);
  height: 80px;
  color: #fff;
  padding: 0 30px;
  font-size: 1.2em;
  font-weight: 700;
  position: relative;

  border-bottom: 5px solid var(--main-color);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--main-color);
}

.cartBadge {
  background-color: var(--main-color);
  border-radius: 50%;
  color: #111100;
  padding: 0 5px 1px 5px;
  height: 20px;
  margin-left: 2px;
  
  display: inline-block;
}

.navLinksList, .navLinksHidden {
  background-color: var(--main-bg-color);
  width: 200px;
  padding: 0 10px;
  border-right: 5px solid var(--main-color);
  border-bottom: 5px solid var(--main-color);
  border-radius: 0 0 5px 0;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 75px;
  z-index: 100;
  transition: all .5s ease-out;
}

.navLinksList li, .navLinksHidden li {
  border-top: 1px dashed var(--main-color);
  padding: 0 20px;
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navLinksList {
  left: 0;
}

.navLinksHidden {
  transform: translate(-300px);
}

.navMobile button {
  font-size: 15px;
}

.navDesktop {
  display: none;
}

.currentRoute {
  color: var(--main-color);
  text-decoration: dotted;
}

.categories {
  background-color: var(--main-bg-color-t);
  color: #fff;
  margin: 20px;
  padding: 20px;
  list-style: none;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.categoryName {
  color: var(--main-color);
}

.categoryName:hover {
  color: #fff;
}

.desktopCategories {
  display: none;
}

/* ===== ITEM LIST ====== */

.itemList {
  background-color: var(--main-bg-color-t);
  width: 90vw;
  padding: 30px 20px;
  margin: 20px auto;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.itemContainer {
  padding: 5px;
  max-height: 100px;
  border-radius: 10px;
  background-color: #fff;
  color: #111100;
  overflow: hidden;

  position: relative;

  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 1fr 1fr;
}

.itemContainer:hover {
  box-shadow: 5px 5px 10px var(--main-bg-color);
  transform: translateY(-5px);
}

.itemContainer > div {
  max-width: 40%;
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
}

.itemContainer img {
  max-height: 90px;
  max-width: 100px;
  object-fit: contain;
  overflow: hidden;
  border-radius: 10px;
}

.itemContainer > h5 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
}

.itemContainer > p {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.noStockOverlay {
  background-color: var(--main-bg-color-t);
  width: 100%;
  height: 40%;
  color: tomato;
  font-weight: 700;
  text-shadow: 3px 3px 5px #000;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform:
    translateX(-50%)
    translateY(-50%);
}

/* ===== ITEM DETAIL ====== */

.itemDetailContainer {
  background-color: #fff;
  margin: 25px 20px;
  padding: 20px;

  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr;
  gap: .7em;
}

.itemDetail {
  font-size: 1em;
  padding: 20px;
}

.itemDetail img {
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.itemInfo {
  background-color: #0002;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 1px #0008;
}

.subItemInfo, .itemCounter {
  border-bottom: 2px solid #00000018;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.itemCounter {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 15px;
}

.itemCounter h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemCounter > h3 {
  flex-direction: column;
  align-items: flex-start;
}

.itemCounterDivider {
  padding-bottom: 0;
  border-bottom: none;
  width: 70%;

  justify-self: center;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'minus count plus'
    'primary primary primary';
  row-gap: 5px;
}

.counterBtn {
  font-size: 1em;
  font-weight: 900;
  
  padding: 0;
}

.itemCounterDivider .primaryBtn {
  grid-area: primary;
}

.itemInfo > .primaryBtn {
  display: block;
  text-align: center;
}

/* ====== CART ====== */

.cartContainer {
  background-color: var(--main-bg-color-t);
  color: #fff;
  margin: 30px 10px;
  padding: 30px 10px;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.cartList {
  width: 100%;
  display: grid;
  gap: 10px;
}

.cartItem {
  background-color: white;
  color: #111100;
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 10px 15px;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 45% 45% 10%;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: 0;
  grid-auto-columns: 0;
}

.cartItem img {
  display: none;
  max-height: 70px;
  object-fit: contain;
}

.cartItem p {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.cartItem h4 {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  justify-self: center;
}

.cartInnerDivider {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.cartInnerDivider h3 a {
  color: #111100;
}

.removeItemBtn {
  background-color: tomato;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 0 solid transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  grid-column: 3 / span 1;
  grid-row: 1 / span 4;
  justify-self: center;
  align-self: center;
}

.cartFooter {
  color: #111100;

  display: grid;
  grid-template-columns: .25fr repeat(2, minmax(100px, 1fr));
  grid-template-rows: 1fr .5fr;
  gap: 20px;
}

.cartFooter .outlineBtn {
  height: 100%;
}

.total {
  background-color: white;
  height: 70px;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: span 3;
}

.checkoutBtn {
  width: 100%;
  height: 100%;
}

/* ====== CHECKOUT ====== */
.checkoutFormContainer {
  background-color: var(--main-bg-color-t);
  width: 80%;
  padding: 50px;
  margin: 30px auto;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}

.paymentForm {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}

.paymentForm label {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 600;
}

.paymentForm i {
  padding-left: 5px;
}

.checkoutForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 5px;
}

.inputContainer label {
  color: var(--main-color);
  font-weight: 500;
}

.inputContainer input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--main-color);
}

.finish {
  margin-top: 30px;
  align-self: center;
}

footer {
  color: gray;
  position: fixed;
  bottom: 0;
  right: 20px;
}

/* ====== USER ====== */

.userContainer {
  background-color: var(--main-bg-color-t);
  margin: 20px;
  padding: 30px;
  height: 100vh;
  border-radius: 10px;
  color: #fff;

  display: flex;
  flex-direction: column;
}

.notice {
  color: var(--main-color);
  opacity: .5;
}

.userContainer > h2 {
  padding-bottom: 10px;
  border-bottom: 3px solid var(--main-color);
}

.userContainer > div {
  height: 100%;
  margin-top: 20px;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
}

.leftPanel, .rightPanel {
  background-color: var(--main-bg-color-t);
  width: 100%;
  padding: 30px;
  border-radius: 10px;
}

.leftPanel {
  color: var(--main-color);
}

.leftPanel ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.leftPanel li {
  padding: 10px 5px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px dashed var(--main-color);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.leftPanel span {
  display: none;
}

.rightPanel {
  padding-top: 0;
}

/* ====== KEYFRAMES ====== */

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ===== MEDIA QUERIES ===== */

@media only screen and (min-width: 767px) {
  .navMobile {
    display: none;
  }
  .navDesktop {
    display: flex;
  }
  .categories {
    background-color: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .desktopCategories {
    display: block;
  }
  .mobileCategories {
    display: none;
  }
  .currentCategory {
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 0 0 10px 10px;
  }
  .currentCategory strong {
    color: #111100;
  }
  .itemList {
    padding: 30px;
    flex-flow: row wrap;
    gap: 1em;
  }
  .itemContainer {
    width: 200px;
    max-height: none;
    height: 250px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .itemContainer div {
    width: 100%;
    height: 150px;
  }
  .itemContainer div img {
    max-width: none;
    max-height: none;
    height: 150px;
    object-fit: contain;
    overflow: hidden;
  }
  .noStockOverlay {
    top: 30%;
    height: 20%;
  }

  .itemDetailContainer {
    grid-template-columns: 1fr 1fr;
    margin: 25px 50px;
    padding: 30px;
    gap: 1em;
  }
  .itemDetail, .itemInfo {
    padding: 30px;
  }
  .itemCounter {
    row-gap: 25px;
  }

  .cartContainer {
    margin: 30px auto;
    padding: 20px;
    width: 90%;
    gap: 50px;
  }
  .removeItemBtn {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .inputContainer {
    width: 60%;
    margin: 0 auto 15px auto;
  }
  .paymentForm {
    width: 60%;
    margin: auto;
    margin-top: 10px;
  }

  .userContainer {
    margin: 30px;
  }

  .leftPanel span {
    display: inline;
  }
}


@media only screen and (min-width: 1024px) {  
  .itemCounter {
    grid-template-columns: 75% 1fr;
    grid-template-rows: 1fr;
  }
  .itemCounterDivider {
    width: 100%;
  }

  .cartContainer {
    width: 75%;
    padding: 50px;
  }
  .cartItem {
    height: 100px;
    padding: 0 10px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cartItem img {
    display: inline-block;
  }

  .inputContainer {
    width: 40%;
  }
  .paymentForm {
    width: 40%;
  }

  .userContainer > div {
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
  }

  .leftPanel ul {
    flex-direction: column;
    gap: 20px;
  }
  .leftPanel li:hover {
    background-color: var(--main-color);
    color: #111100;
  }
  .rightPanel {
    padding-top: 30px;
  }
}